h1 {
    color: pink;
    border: 20px solid green;
    /* padding: 50px 100px 200px 300px; */
    padding-bottom: 0px;
    margin: 50px 100px;
    margin-top: 10px;
}

button {
    border: 2px solid blue;
}
